@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');
@import './vue-vuetify.scss';
@import './simple-styles.scss';

$section-title-font-size: 36px;

.title-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: $max-inner-width;

  .section-title {
    font-size: $section-title-font-size;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 600;
    line-height: 1.1;
    padding: 8px $base-padding 10px;
  }

  .home-content-title {
    @extend .section-title;
    padding-left: $home-content-padding;
    padding-right: $home-content-padding;

    @media(min-width: $max-inner-width){
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  .filter-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: normal;
    margin-top: 6px;
  }
}

.title-border {
  width: 96%;
  height: 4px;
  background-color: $primary-theme-color;
  margin: 0 auto;
}

.filter-label {
  background-color: $secondary-theme-color;
  color: $filter-label-color;
  font-size: 14px;
  margin-right: 4px;
  border: 1px solid $primary-theme-color;
  padding: 8px;
  border-radius: 4px;
  font-weight: bold;
  text-transform: none;
  box-shadow: 1px 2px 6px 1px rgb(0 0 0 / 18%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.filter-divider {
  font-size: $section-title-font-size;
  padding: 0px 10px;
}

.sub-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #666666;
  padding: 0px $base-padding;
}

.overlay-margin {
  margin: 10px 0px 16px;
}

.record-icon {
  padding-right: 4px;
  color: $primary-theme-color !important;
}

.track-sneak-peek {
  width: 67vw;
  display: flex;
  margin-left: 4px;

  .track-img {
    $img-size: 22px;

    width: $img-size;
    max-width: $img-size;
    height: $img-size;
    margin: 0px 4px;
  }

  .track-artists {
    font-weight: normal;
    font-size: 12px;
  }
}

.item-icon-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.round-img-icon {
  $icon-size: 18px;

  border-radius: 100%;
  height: $icon-size;
  max-width: $icon-size;
  color: $primary-theme-color;
  background-color: white;
}

.round-profile-letter {
  @extend .round-img-icon;
  border: 2px solid $primary-theme-color;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px;
  font-weight: bold;
}

.scroll-shadow {
  //https://css-tricks.com/scroll-shadows-with-javascript/
  background:
    /* Shadow Cover TOP */
    linear-gradient(
      white 30%,
      rgba(255, 255, 255, 0)
    ) center top,
    
    /* Shadow Cover BOTTOM */
    linear-gradient(
      rgba(255, 255, 255, 0), 
      white 70%
    ) center bottom,
    
    /* Shadow TOP */
    radial-gradient(
      farthest-side at 50% 0,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    ) center top,
    
    /* Shadow BOTTOM */
    radial-gradient(
      farthest-side at 50% 100%,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    ) center bottom;
  
  background-repeat: no-repeat;
  background-size: 100% 40px, 100% 40px, 100% 8px, 100% 8px;
  background-attachment: local, local, scroll, scroll;
}

.scroll-shadow-on-transparent {
  background:
    /* Shadow Cover TOP */
    linear-gradient(
      rgba(255, 255, 255, 0),
      transparent 30%
    ) center top,
    
    /* Shadow Cover BOTTOM */
    linear-gradient(
      transparent 70%,
      rgba(255, 255, 255, 0)
    ) center bottom,
    
    /* Shadow TOP */
    radial-gradient(
      farthest-side at 50% 0,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    ) center top,
    
    /* Shadow BOTTOM */
    radial-gradient(
      farthest-side at 50% 100%,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    ) center bottom;
  
  background-repeat: no-repeat;
  background-size: 100% 40px, 100% 40px, 100% 8px, 100% 8px;
  background-attachment: local, local, scroll, scroll;
}

.home-content {
  @extend .home-content-responsive;
  @extend .scroll-shadow;

  max-width: $max-inner-width;
  max-height: $max-home-content-height;
  overflow-y: scroll;
  margin: 0 $home-content-padding;
  padding: 4px 4px 4px 0px;

  .track-list-container {
    padding: 0px;
  }
}

.home-content-responsive {
  @media(min-width: $max-inner-width){
    max-width: $max-inner-width;
    margin: 0 auto;
  }
}

.snackbar-container {
  display: flex;
  justify-content: space-between;
  padding-top: 2px;
}

.snackbar-img {
  @extend .round-img-icon;
  $snackbar-img-size: 28px;
  
  margin-left: $snackbar-side-margin;
  height: $snackbar-img-size;
  max-width: $snackbar-img-size;
}

.secondary-label {
  display: flex;
}


.menu-option-container {
  display: flex;
  padding: 0px 12px !important;
  min-width: max-content;

  .option-title {
    font-size: 13px;
    font-weight: bold;
    padding: 8px;
  }
}

.menu-option-container:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.new-icon {
  $size: 30px;

  margin-top: -6px;
  margin-left: 6px;
  width: $size;
  max-width: $size;
  height: $size;
  transform: rotate(-12deg);
}

.content-placeholder {
  font-size: 120px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left: $base-padding;
}