@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');
@import './vue-vuetify.scss';
@import './simple-styles.scss';

$section-title-font-size: 36px;

.title-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: $max-inner-width;

  .section-title {
    font-size: $section-title-font-size;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 600;
    line-height: 1.1;
    padding: 8px $base-padding 10px;
  }

  .home-content-title {
    @extend .section-title;
    padding-left: $home-content-padding;
    padding-right: $home-content-padding;
  }

  .filter-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: normal;
    margin-top: 6px;
  }
}

.title-border {
  width: 96%;
  height: 4px;
  background-color: $primary-theme-color;
  margin: 0 auto;
}

.filter-label {
  background-color: $secondary-theme-color;
  color: $filter-label-color;
  font-size: 14px;
  margin-right: 4px;
  border: 1px solid $primary-theme-color;
  padding: 8px;
  border-radius: 4px;
  font-weight: bold;
  text-transform: none;
  box-shadow: 1px 2px 6px 1px rgb(0 0 0 / 18%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.filter-divider {
  font-size: $section-title-font-size;
  padding: 0px 10px;
}

.sub-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 0px $base-padding;
}

.overlay-margin {
  margin: 10px 0px 16px;
}

.overlay-details-container {
  @extend .overlay-margin;
  padding: 10px $base-padding 14px;
}

.record-icon {
  padding-right: 4px;
}

.track-sneak-peek {
  width: 67vw;
  display: flex;
  margin-left: 4px;

  .track-img {
    $img-size: 22px;

    width: $img-size;
    max-width: $img-size;
    height: $img-size;
    margin: 0px 4px;
  }

  .track-artists {
    font-weight: normal;
    font-size: 12px;
  }
}