@import '~/styles/globals';

$phrase-border-size: 1px;
$phrase-border-color: #aaaaaa;

.clickable {
  cursor: pointer;
}

.circle-separator {
  padding: 4px 6px;
  color: $primary-theme-color !important;
  font-size: 8px !important;
}

.no-visibility {
  visibility: hidden;
}

.no-wrap {
  white-space: nowrap;
}

.dashed-separator {
  border-bottom: 1px dashed #efefef;
} 

.sub-padding-left {
  display: flex;
  align-items: center;
  padding-left: $base-padding;
}

.sub-padding-right {
  padding-right: ($base-padding + 2px) !important;
}

.inline-display {
  display: inline;
}

.block-display {
  display: block;
}

@supports(-webkit-text-stroke: $phrase-border-size $phrase-border-color) {
  .outlined-phrase {
    -webkit-text-stroke: $phrase-border-size $phrase-border-color;
    -webkit-text-fill-color: $secondary-theme-color;
  }
}

.no-max-width {
  max-width: unset !important;
}

.overflow-scroll {
  overflow: scroll !important;
}

.not-clickable {
  cursor: none;
}

.cursor-auto {
  cursor: auto;
}

.ellipses-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.min-width-fit {
  min-width: fit-content;
}

.width-fit {
  width: fit-content !important;
}

.underlined {
  text-decoration: underline;
}

.display-none {
  display: none;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute !important;
}

.fill-available {
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: stretch;
}

.vertically-hidden {
  visibility: hidden;
  max-height: 0px !important;
  margin: 0px !important;
}

.track-playing {
  font-size: 18px;
}

.lighter-black-color {
  color: #888888;
}

.spotify-green-color {
  color: $spotify-green !important;
}

.white-color {
  color: white !important;
}

.primary-color {
  color: $primary-theme-color !important;
}

.blurred {
  background-color: transparent;
  backdrop-filter: blur(6px);
}

.white-background {
  background-color: white;
}

.black-background {
  background-color: black;
}

.width-max-content {
  width: max-content;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.white-space-no-wrap {
  white-space: nowrap;
}

.hover-tab {
  opacity: 0.8;
}

.no-padding {
  padding: 0px !important;
}

.explicit {
  $color: #888888;
  font-size: 10px;
  border: 1px solid $color;
  padding: 0px 2px;
  margin-left: 4px;
  color: $color;
  position: relative;
  top: -1px;
}

.small-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 100%;
  padding: 9px 5px 6.5px;
  font-weight: bold;
  line-height: 10px;
  font-weight: 900;
}

.small-circle:focus-visible {
  @extend .focused;
}

.small-circle-top-letters {
  font-size: 12px;
}

.small-circle-bottom-letters {
  font-size: 10px;
}

.margin-left-auto {
  margin-left: auto;
}

.hidden {
  visibility: hidden;
  height: 0px;
  width: 0px;
}

.cream-background {
  background-color: $off-white !important;
}

.dark-background {
  background-color: $dark-blue !important;
}

.deep-blue-background {
  background-color: #03071a !important;
}