$primary-theme-color: black;
$secondary-theme-color: white;
$spotify-green: #1DB954;
$filter-label-color: rgba(0, 0, 0, 0.6);

$app-header-height: 66px;
$max-inner-width: 700px;
$base-padding: 14px;
$home-content-padding: 24px;
$max-home-content-height: 500px;
$max-footer-height: 200px;