$primary-theme-color: black;
$secondary-theme-color: white;
$spotify-green: #1DB954;
$filter-label-color: rgba(0, 0, 0, 0.6);

$app-header-height: 66px;
$max-inner-width: 700px;
$base-padding: 14px;
$home-content-padding: 32px;
$max-home-content-height: 500px;
$max-footer-height-not-playing: 123px;
$max-footer-height-playing: 219px;
$overlay-border-size: 6px;
$simple-title-border-size: 3px;
$text-field-filled-full-width-outlined-single-line-slot-min-height: 20px;

$up-next-slide-animation: 0.29s forwards 1 ease-in-out;
