//framework overrides

.v-application {
  font-family: 'Public Sans', sans-serif !important;

  .v-dialog--fullscreen {
    overflow-y: hidden !important;
    max-height: calc(100vh - #{$max-footer-height-not-playing});
  }

  .v-dialog__content {
    max-height: calc(100vh - #{$max-footer-height-not-playing});
  }

  .up-next-hidden {
    animation: slide-down-not-playing $up-next-slide-animation;

    @keyframes slide-down-not-playing {
      to {
        height: $max-footer-height-not-playing;
      }
    }
  }
}

.v-application.item-playing {
  .v-dialog--fullscreen {
    max-height: calc(100vh - #{$max-footer-height-playing});
  }

  .v-dialog__content {
    max-height: calc(100vh - #{$max-footer-height-playing});
  }

  .playback-toggle {
    font-size: 36px !important;
  }

  .up-next-hidden {
    animation: slide-down-playing $up-next-slide-animation;

    @keyframes slide-down-playing {
      to {
        height: $max-footer-height-playing;
      }
    }
  }
}

.v-dialog {
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: none;
}

.v-sheet.v-card {
  border: none !important;
  border-radius: 0px !important;
}

.v-card .content-carousel .spaced-content {
  box-shadow: none !important;
}

.home-tabs {
  .v-window-item {
    max-height: $max-home-content-height;
  }
}

.app-bar {
  .v-toolbar__content {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
  }
}

.v-list {
  padding: 0px;
}

.v-list-item--disabled {
  color: #cccccc !important;
}