//framework overrides

$alert-container-base-bottom: 10px;
$feed-height: 63vh;
$feed-height-smaller: 95vh;
$feed-base-bottom: 15px;

.v-application {
  font-family: 'Public Sans', sans-serif !important;

  .v-dialog--fullscreen {
    overflow-y: hidden !important;
    max-height: calc(100vh - #{$max-footer-height-not-playing});
  }

  .v-dialog__content {
    max-height: calc(100vh - #{$max-footer-height-not-playing});
  }

  .activity-feed {
    max-height: calc(#{$feed-height}  - #{$max-footer-height-not-playing});
    bottom: calc(#{$feed-base-bottom} + #{$max-footer-height-not-playing});

    @media(max-width: $feed-size-threshold){
      height: calc(100vh - #{$max-footer-height-not-playing});
      width: 100vw;
      max-height: none;
      max-width: none;
      bottom: $max-footer-height-not-playing;
      right: 0px;
    }
  }

 .feed-alert-container {
    bottom: calc(#{$alert-container-base-bottom} + #{$max-footer-height-not-playing});
  }
  
  .up-next-hidden {
    animation: slide-down-not-playing $up-next-slide-animation;

    @keyframes slide-down-not-playing {
      to {
        height: $max-footer-height-not-playing;
      }
    }
  }
}

.v-application.item-playing {
  .v-dialog--fullscreen, .v-dialog__content {
    max-height: calc(100vh - #{$max-footer-height-playing});
  }

  .feed-alert-container {
    max-height: calc(#{$feed-height}  - #{$max-footer-height-playing});
    bottom: calc(#{$alert-container-base-bottom} + #{$max-footer-height-playing});
  }

  .activity-feed {
    bottom: calc(#{$feed-base-bottom} + #{$max-footer-height-playing});

    @media(max-width: $feed-size-threshold){
      height: calc(100vh - #{$max-footer-height-playing});
      width: 100vw;
      max-height: none;
      max-width: none;
      bottom: $max-footer-height-playing;
      right: 0px;
    }
  }

  .playback-toggle {
    font-size: 36px !important;
  }

  .up-next-hidden {
    animation: slide-down-playing $up-next-slide-animation;

    @keyframes slide-down-playing {
      to {
        height: $max-footer-height-playing;
      }
    }
  }
}

.v-dialog {
  background-color: rgba(0, 0, 0, 0.52);
  box-shadow: none;
  padding: 8px;

  @media(max-width: $max-inner-width){ 
    padding: 4px;
  }
}

.v-sheet.v-card {
  border: none !important;
  border-radius: 0px !important;
}

.v-card .content-carousel .spaced-content {
  box-shadow: none !important;
}

.home-tabs {
  .v-window-item {
    max-height: $max-home-content-height;
  }
}

.app-bar {
  .v-toolbar__content {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
  }
}

.v-list {
  padding: 0px;
}

.v-list-item--disabled {
  color: #cccccc !important;
}

.v-toolbar__content {
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center !important;
  margin-top: 6px;
  padding: 4px 20px !important;
}

.v-icon {
  width: max-content;
}

.v-snack__content {
  padding: 14px 8px 14px 14px;
}