//framework overrides

.v-application {
  font-family: 'Public Sans', sans-serif !important;
}

.v-dialog {
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: none;
}

.v-dialog--fullscreen {
  overflow-y: hidden !important;
  max-height: calc(100vh - #{$max-footer-height});
}

.v-dialog__content {
  max-height: calc(100vh - #{$max-footer-height});
}

.v-sheet.v-card {
  border: none !important;
  border-radius: 0px !important;
}

.v-card .content-carousel .spaced-content {
  box-shadow: none !important;
}

.home-tabs {
  .v-window-item {
    max-height: $max-home-content-height;
  }
}

.app-bar {
  .v-toolbar__content {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
  }
}